---
layout: post
title: "xUnit test reports for sbt"
description: "xUnit test reports integration for Jenkins and jacoco4sbt."
category: code quality
tags: [scala, code quality, ci]
---
{% include JB/setup %}

## Отчеты о прохождении тестов в формате xUnit
